{% extends 'base_front.html.twig' %}


{% block title %}Votre compte{% endblock %}

{% block body %}

    <div class="container-fluid artistbanner mb-5 d-flex align-items-center d-flex justify-content-center">
	    <h1>votre espace personnel</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-0 mb-5 bg-white rounded border">
                <div class="artisteprofile">
                    <h6>Votre profil</h6>
                    {{ dump(app.user) }}
                    {#{% for r in artist_profile %}#}

                    {#{%  endfor %}#}
                    <button type="submit" class="btn btn-primary mb-3"> modifier profil</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-12 mb-4 bg-white rounded border p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://via.placeholder.com/100x180" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Messagerie</h5>
                        <a href="#" class="btn btn-primary">Accès messagerie</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://via.placeholder.com/100x180" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ma galerie</h5>
                        <a href="#" class="btn btn-primary">Modifier ou ajouter</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://via.placeholder.com/100x180" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mes demandes</h5>
                        <a href="#" class="btn btn-primary">Liste des demandes</a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="http://via.placeholder.com/100x180" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Offres</h5>
                        <a href="#" class="btn btn-primary">Poster une offre</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
