{% extends 'base_front.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}

<div class=" text-center d-flex justify-content-center formRegister">
    <div>

    </div>
    <div class="form col-8 col-md-6 col-lg-4" id="bloc_page_registration">
        <h1 class="text-white"> Nous contacter</h1>
        <fieldset class="border m-3 p-3 bg-light rounded"  >

        {{ form(formMessage) }}

        </fieldset>
    </div>
</div>



{% endblock %}
