{% extends 'base_front.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}

<div id="main_bloc_help">

<h1 class="display-3 mt-3">Aide</h1>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-12">
    	    <div class="menu">
                <!--Accordéon-->
                <div class="accordion">
                    <!-- Rubriques -->
                    <div class="accordion-group">
                        <!-- Définition de la rubrique -->
                        <div class="accordion-heading area">
                            <a class="accordion-toggle" data-toggle="collapse" href="#area1">Mon compte</a>
                        </div>
                        <!-- Rubrique -->
                        <div class="accordion-body collapse" id="area1">
                            <!--Contenu accordéon-->
                            <div class="accordion-inner">
                                <!--Sous-rubrique-->
                                <div class="accordion" id="rubric1">
                                    <!-- Bloc contenu -->
                                    <div class="accordion-group">
                                        <div class="accordion-heading rubric">
                                            <a class="accordion-toggle" data-parent="#service1-1-1" data-toggle="collapse" href="#service1-1-1">A quoi sert mon compte ?</a>
                                        </div>
                                        <!-- Contenu -->
                                        <div class="accordion-body collapse" id="service1-1-1">
                                            <div class="accordion-inner">
                                                 <div class="accordion" id="service1-1">
                                                    <div class="accordion-group">
                                                        <div class="accordion-heading rubric_text">
                                                            <p>
                                                                En vous inscrivant sur OuiCustOm.com, vous avez accès gratuitement à un compte personnel.
                                                                Celui-ci vous permet de gérer vos annonces et votre profil très facilement.
                                                            </p>

                                                            <ul>
                                                                <li>- Renseigner votre profil</li>
                                                                <li>- Retrouver, modifier, ou supprimer vos annonces</li>
                                                                <li>- Avoir accès aux informations de contact des autres utilisateurs</li>
                                                                <li>- Lire et répondre à vos messages</li>
                                                                <li>- Poster des avis et attribuer des notes</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Contenu fin -->
                                    </div>
                                    <!-- Bloc contenu fin -->
                                </div>
                                <!-- Sous-rubrique fin -->

                                <!-- Sous-rubrique-->
                                <div class="accordion" id="rubric2">
                                    <!-- Bloc contenu -->
                                    <div class="accordion-group">
                                        <div class="accordion-heading rubric">
                                            <a class="accordion-toggle" data-parent="#service1-1-2" data-toggle="collapse" href="#service1-1-2">Comment créer un compte ?</a>
                                        </div>
                                        <!-- Contenu -->
                                        <div class="accordion-body collapse" id="service1-1-2">
                                            <div class="accordion-inner">
                                                 <div class="accordion" id="service1-2">
                                                    <div class="accordion-group">
                                                        <div class="accordion-heading rubric_text">
                                                            <p>
                                                                La création de compte est gratuite sur ouiCustOm.com. Il vous suffit de renseigner votre nom d'utilisateur ainsi qu'une 
                                                                adresse e-mail sur la page de création de compte accessible depuis le lien "connexion".
                                                                Une fois votre compte créé, un email vous est envoyé pour vérifier l'adresse email saisie et confirmer votre inscription.
                                                                Vous devez valider la création de votre compte pour pouvoir vous connecter.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Contenu fin -->
                                    </div>
                                    <!-- Bloc contenu fin -->
                                </div>
                                <!-- Sous-rubrique fin -->

                                <!-- Sous-rubrique-->
                                <div class="accordion" id="rubric3">
                                    <!-- Bloc contenu -->
                                    <div class="accordion-group">
                                        <div class="accordion-heading rubric">
                                            <a class="accordion-toggle" data-parent="#service1-1-3" data-toggle="collapse" href="#service1-1-3">J'ai créé un compte, mais je n'ai pas reçu d'email de validation</a>
                                        </div>
                                        <!-- Contenu -->
                                        <div class="accordion-body collapse" id="service1-1-3">
                                            <div class="accordion-inner">
                                                <div class="accordion" id="service1-3">
                                                    <div class="accordion-group">
                                                        <div class="accordion-heading rubric_text">
                                                            <p>
                                                                Pensez à vérifier vos mails indésirables. Il peut arriver que le mail de validation arrive avec un certain décalage. 
                                                                Si vous n'avez rien reçu dans les 24h après votre création de compte, connectez-vous sur OuiCustOm.com avec les identifiants que vous avez choisis.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Contenu fin -->
                                    </div>
                                    <!-- Bloc contenu fin-->
                                </div>
                                <!-- Sous-rubrique fin-->

                                <!-- Sous-rubrique-->
                                <div class="accordion" id="rubric3">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-parent="#service1-1-4" data-toggle="collapse" href="#service1-1-4">J'ai créé un compte, mais je n'arrive pas à me connecter</a>
                                            </div>
                                            <!-- Contenu -->
                                            <div class="accordion-body collapse" id="service1-1-4">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service1-4">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Vous devez valider la création de votre compte depuis l'email de confirmation qui vous a été envoyé à l'adresse email saisie.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>  
                                                </div>
                                            </div>
                                            <!-- Contenu fin -->
                                        </div>
                                        <!-- Contenu fin -->
                                    </div>
                                    <!-- Bloc contenu fin-->
                                </div>
                                <!-- Sous-rubrique fin-->
                            </div>
                            <!--Contenu accordéon-->
                        </div>
                        <!-- Rubrique fin-->
                    
    <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                
                        <!-- Rubrique -->
                        <div class="accordion-group">
                            <!-- Définition de la rubrique -->
                            <div class="accordion-heading area">
                                <a class="accordion-toggle" data-toggle="collapse" href="#area2">Dépôt d'annonce</a>
                            </div>
                            <!-- Bloc area -->
                            <div class="accordion-body collapse" id="area2">
                                <div class="accordion-inner">
                                    <div class="accordion" id="rubric1">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-1">Comment déposer une annonce ?</a>
                                            </div>
                                            <!-- Contenu -->
                                            <div class="accordion-body collapse" id="rubric_text2-1">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-1">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Le dépôt d'annonce est gratuit. Vous devez être inscrit pour déposer une annonce. 
                                                                    Pensez à mettre une photo pour que votre annonce ressorte mieux dans les listes de résultats.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>      
                                            </div>
                                            <!--Contenu fin-->
                                        </div>
                                        <!--Bloc contenu fin-->                                    
                                    </div>
                                    <!-- Sous-rubrique fin -->
                    
                                    <!--Sous-rubrique-->    
                                    <div class="accordion" id="rubric2">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-2">Comment classer mon annonce : recherche ou proposition ?</a>
                                            </div>
                                            <!-- Contenu -->
                                            <div class="accordion-body collapse" id="rubric_text2-2">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-2">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Sur ouicustom.com, on peut proposer ses services/ses compétences, ou bien rechercher un Service/Une compétence.
                                                                </p>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- contenu fin-->
                                        </div>
                                        <!-- Bloc contenu fin-->
                                    </div>
                                    <!-- Sous-rubrique fin-->
                                    
                                    <!-- Sous-rubrique-->
                                    <div class="accordion" id="rubric3">
                                        <!-- Bloc contenu-->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-3">Je ne veux pas que mes coordonnées soient visibles, comment puis-je être contacté ?</a>
                                            </div>
                                            <!-- Contenu-->
                                            <div class="accordion-body collapse" id="rubric_text2-3">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-3">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    ouicustom.com a développé une messagerie intégrée pour faciliter les contacts entre les membres et protéger vos coordonnées personnelles. 
                                                                    Vous pouvez envoyer et recevoir des emails, joindre un fichier : CV, des photos, etc.... Par défaut, votre adresse e-mail n'est pas affichée sur votre annonce.
                                                                </p>
                                                            </div>
                                                        </div>   
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contenu fin-->
                                        </div>
                                        <!-- Bloc contenu fin-->
                                    <div>
                                    <!-- Sous-rubrique fin-->

                                    <!-- Sous-rubrique -->
                                    <div class="accordion" id="rubric4">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-4">Qu'est-ce que "l'Annonce Plus" ?</a>
                                            </div>
                                            <!-- Contenu-->
                                            <div class="accordion-body collapse" id="rubric_text2-4">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-4">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Lorsque vous rédigez une annonce, les adresses emails et les url de site internet sont automatiquement cachés dans le corps de votre annonce.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contenu fin-->
                                        </div>
                                        <!-- Bloc contenu fin-->
                                    </div>
                                    <!-- Sous-rubrique fin-->

                                    <!-- Sous-rubrique-->
                                    <div class="accordion" id="rubric5">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-5">Combien de temps mon annonce va être en ligne ?</a>
                                            </div>
                                            <!-- Contenu-->
                                            <div class="accordion-body collapse" id="rubric_text2-5">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-5">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Les annonces sont en ligne pour une durée de 2 mois. 
                                                                    Cette durée garantie un contenu mis à jour régulièrement. 
                                                                    Vous avez la possibilité de prolonger gratuitement votre annonce au bout de 2 mois si vous le souhaitez.
                                                                    Vous recevrez un email après 2 mois de publication. Vous pourrez renouveler la publication de votre annonce en cliquant sur le lien de l'email.
                                                                </p>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contenu fin-->
                                        </div>
                                        <!-- Bloc contenu fin-->
                                    </div>
                                    <!-- Sous-rubrique fin-->
                                
                                    <!-- Sous-rubrique-->
                                    <div class="accordion" id="rubric6">
                                        <!-- Bloc contenu -->
                                        <div class="accordion-group">
                                            <div class="accordion-heading rubric">
                                                <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-6">J'ai déposé une annonce, je ne la vois pas en ligne</a>
                                            </div>
                                            <!-- Contenu-->
                                            <div class="accordion-body collapse" id="rubric_text2-6">
                                                <div class="accordion-inner">
                                                    <div class="accordion" id="service2-6">
                                                        <div class="accordion-group">
                                                            <div class="accordion-heading rubric_text">
                                                                <p>
                                                                    Une fois votre annonce déposée, votre annonce est relue par notre équipe de modération qui vérifie son contenu. Si le contenu correspond au CGU de OuiCustOm.com, elle sera publiée dans les 24h. Sinon, vous recevrez un email pour vous donner le motif du refus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Contenu fin-->
                                        </div>
                                        <!-- Bloc contenu fin-->
                                    </div>
                                    <!-- Sous-rubrique fin-->
                                </div>
                                <!--Contenu accordéon-->
                            </div>
                            <!-- Rubrique fin -->
                        </div>
                        <!-- Rubriques fin -->              
                    </div>
                    <!-- Accordéon fin -->
                </div>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                    
                            <!-- Rubrique -->
                            <div class="accordion-group">
                                <!-- Définition de la rubrique -->
                                <div class="accordion-heading area">
                                    <a class="accordion-toggle" data-toggle="collapse" href="#area3">Mes annonces</a>
                                </div>
                                <!-- Bloc area -->
                                <div class="accordion-body collapse" id="area3">
                                    <div class="accordion-inner">
                                        <div class="accordion" id="rubric1">
                                            <!-- Bloc contenu -->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text3-1">Où retrouver mes annonces ?</a>
                                                </div>
                                                <!-- Contenu -->
                                                <div class="accordion-body collapse" id="rubric_text3-1">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service3-1">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                                                        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                                                                        desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>      
                                                </div>
                                                <!--Contenu fin-->
                                            </div>
                                            <!--Bloc contenu fin-->                                    
                                        </div>
                                        <!-- Sous-rubrique fin -->
                        
                                        <!--Sous-rubrique-->    
                                        <div class="accordion" id="rubric2">
                                            <!-- Bloc contenu -->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text3-2">Puis-je modifier mon annonce ?</a>
                                                </div>
                                                <!-- Contenu -->
                                                <div class="accordion-body collapse" id="rubric_text3-2">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service3-2">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                                                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                                    </p>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- contenu fin-->
                                            </div>
                                            <!-- Bloc contenu fin-->
                                        </div>
                                        <!-- Sous-rubrique fin-->
                                        
                                        <!-- Sous-rubrique-->
                                        <div class="accordion" id="rubric3">
                                            <!-- Bloc contenu-->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text3-3">Comment obtenir plus d'avis ?</a>
                                                </div>
                                                <!-- Contenu-->
                                                <div class="accordion-body collapse" id="rubric_text3-3">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service3-3">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Demandez à vos contacts de faire des évaluations sur vos compétences en utilisant le mail 
                                                                        "Obtenir des avis" dans votre compte personnel, rubrique "Mes avis".
                                                                    </p>
                                                                </div>
                                                            </div>   
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Contenu fin-->
                                            </div>
                                            <!-- Bloc contenu fin-->
                                        </div>
                                        <!-- Sous-rubrique fin-->

                                        <!-- Sous-rubrique -->
                                        <div class="accordion" id="rubric4">
                                            <!-- Bloc contenu -->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text3-4">Comment avoir plus de contacts pour mon annonce ?</a>
                                                </div>
                                                <!-- Contenu-->
                                                <div class="accordion-body collapse" id="rubric_text3-4">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service3-4">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Pour recevoir un maximum de contacts, nous vous conseillons de :
                                                                    </p>

                                                                    <ul>
                                                                        <li>- Soigner votre annonce : choisissez un titre précis et accrocheur, détailler le texte, mettre une photo</li>
                                                                        <li>- Vous présenter : votre profil public doit être rempli, avec une photo de préférence.</li>
                                                                        <li>- Partager vos annonces sur les réseaux sociaux : utilisez les logos facebook, twitter, Google+présents sur la page de votre annonce.</li>
                                                                        <li>- Demander des avis à vos contacts : envoyez des invitations à votre entourage.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Contenu fin-->
                                            </div>
                                            <!-- Bloc contenu fin-->
                                        </div>
                                        <!-- Sous-rubrique fin-->

                                        <!-- Sous-rubrique-->
                                        <div class="accordion" id="rubric5">
                                            <!-- Bloc contenu -->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-5">Combien de temps mon annonce va être en ligne ?</a>
                                                </div>
                                                <!-- Contenu-->
                                                <div class="accordion-body collapse" id="rubric_text2-5">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service4-1">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Les annonces sont en ligne pour une durée de 2 mois. 
                                                                        Cette durée garantie un contenu mis à jour régulièrement. 
                                                                        Vous avez la possibilité de prolonger gratuitement votre annonce au bout de 2 mois si vous le souhaitez.
                                                                        Vous recevrez un email après 2 mois de publication. Vous pourrez renouveler la publication de votre annonce en cliquant sur le lien de l'email.
                                                                    </p>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Contenu fin-->
                                            </div>
                                            <!-- Bloc contenu fin-->
                                        </div>
                                        <!-- Sous-rubrique fin-->
                                    
                                        <!-- Sous-rubrique-->
                                        <div class="accordion" id="rubric6">
                                            <!-- Bloc contenu -->
                                            <div class="accordion-group">
                                                <div class="accordion-heading rubric">
                                                    <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text2-6">J'ai déposé une annonce, je ne la vois pas en ligne</a>
                                                </div>
                                                <!-- Contenu-->
                                                <div class="accordion-body collapse" id="rubric_text2-6">
                                                    <div class="accordion-inner">
                                                        <div class="accordion" id="service4-2">
                                                            <div class="accordion-group">
                                                                <div class="accordion-heading rubric_text">
                                                                    <p>
                                                                        Une fois votre annonce déposée, votre annonce est relue par notre équipe de modération qui vérifie son contenu. Si le contenu correspond au CGU de OuiCustOm.com, elle sera publiée dans les 24h. Sinon, vous recevrez un email pour vous donner le motif du refus.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Contenu fin-->
                                            </div>
                                            <!-- Bloc contenu fin-->
                                        </div>
                                        <!-- Sous-rubrique fin-->
                                    </div>
                                    <!--Contenu accordéon-->
                                </div>
                                <!-- Rubrique fin -->
                            </div>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                                <!-- Rubrique -->
                                <div class="accordion-group">
                                    <!-- Définition de la rubrique -->
                                    <div class="accordion-heading area">
                                        <a class="accordion-toggle" data-toggle="collapse" href="#area4">Messagerie OuiCustOm</a>
                                    </div>
                                    <!-- Bloc area -->
                                    <div class="accordion-body collapse" id="area4">
                                        <div class="accordion-inner">
                                            <div class="accordion" id="rubric1">
                                                <!-- Bloc contenu -->
                                                <div class="accordion-group">
                                                    <div class="accordion-heading rubric">
                                                        <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text4-1">Comment envoyer un message à un membre ?</a>
                                                    </div>
                                                    <!-- Contenu -->
                                                    <div class="accordion-body collapse" id="rubric_text4-1">
                                                        <div class="accordion-inner">
                                                            <div class="accordion" id="service4-1">
                                                                <div class="accordion-group">
                                                                    <div class="accordion-heading rubric_text">
                                                                        <p>
                                                                            Sur chaque annonce, vous trouverez le bouton "E-mail" qui ouvre le formulaire de contact lorsque vous êtes connecté sur OuiCustOm.
                                                                        </p>

                                                                        <ul>
                                                                            <li>- Si vous avez déjà un compte OuiCustOm, connectez-vous puis déposez votre message. Votre message est directement envoyé à votre interlocuteur.</li>
                                                                            <li>- Si vous n'avez pas de compte, commencez par créer un compte sur OuiCustOm, puis rédigez votre message via le formulaire de contact.</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>      
                                                    </div>
                                                    <!--Contenu fin-->
                                                </div>
                                                <!--Bloc contenu fin-->                                    
                                            </div>
                                            <!-- Sous-rubrique fin -->
                            
                                            <!--Sous-rubrique-->    
                                            <div class="accordion" id="rubric2">
                                                <!-- Bloc contenu -->
                                                <div class="accordion-group">
                                                    <div class="accordion-heading rubric">
                                                        <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text4-2">Comment lire mes messages ?</a>
                                                    </div>
                                                    <!-- Contenu -->
                                                    <div class="accordion-body collapse" id="rubric_text4-2">
                                                        <div class="accordion-inner">
                                                            <div class="accordion" id="service4-2">
                                                                <div class="accordion-group">
                                                                    <div class="accordion-heading rubric_text">
                                                                        <p>
                                                                            Vous recevez un e-mail vous prévenant de l'arrivée d'un nouveau message. Pour lire votre message, cliquez sur le bouton "voir son message". 
                                                                            Vous êtes alors redirigé sur votre messagerie OuiCustOm où vous retrouvez le message que vous a laissé votre interlocuteur.
                                                                            Vous pouvez également lire vos messages dans la rubrique "Mes Messages" de votre compte personnel.
                                                                        </p>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- contenu fin-->
                                                </div>
                                                <!-- Bloc contenu fin-->
                                            </div>
                                            <!-- Sous-rubrique fin-->
                                            
                                            <!-- Sous-rubrique-->
                                            <div class="accordion" id="rubric3">
                                                <!-- Bloc contenu-->
                                                <div class="accordion-group">
                                                    <div class="accordion-heading rubric">
                                                        <a class="accordion-toggle" data-toggle="collapse" href="#rubric_text4-3">Comment répondre à un message ?</a>
                                                    </div>
                                                    <!-- Contenu-->
                                                    <div class="accordion-body collapse" id="rubric_text4-3">
                                                        <div class="accordion-inner">
                                                            <div class="accordion" id="service4-3">
                                                                <div class="accordion-group">
                                                                    <div class="accordion-heading rubric_text">
                                                                        <p>
                                                                            Vous avez reçu un email vous prévenant de l'arrivée d'un nouveau message. Pour répondre à votre interlocuteur, cliquez sur le bouton "voir son message" dans l'email. 
                                                                            Vous êtes alors redirigé sur votre messagerie OuiCustOm où vous est présentée la fonction "Répondre".
                                                                            Cet email est envoyé de façon automatique. Si vous utilisez la fonction "répondre" de votre boite mails, 
                                                                            votre interlocuteur ne verra pas votre réponse. Vous devez répondre en utilisant votre messagerie OuiCustOm.
                                                                            Vos messages et l'historique de vos conversations sont accessibles depuis votre compte personnel, dans la rubrique "Mes Messages".
                                                                        </p>
                                                                    </div>
                                                                </div>   
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Contenu fin-->
                                                </div>
                                                <!-- Bloc contenu fin-->
                                            </div>
                                            <!-- Sous-rubrique fin-->
                                        </div>
                                        <!--Contenu accordéon-->
                                    </div>
                                    <!-- Rubrique fin -->
                            </div>
                            <!-- Rubriques fin -->   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock %}