{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}
    <div class="banner container-fluid pb-5">

    <h1 class="pb-5 pt-4">Faites de VOS objets du quotidien des pièces uniques</h1>

        <form class="form-row" action="" method="post">
            <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-2 mt-1 ">
                <input class="form-control" type="text" name="search" placeholder="Recherche">  
            </div>

            <div class="col-sm-3 col-md-2 mt-1 ml-4 ml-sm-0" id="category_select">
                <select class="form-control" name="category_id">
                    <option value=""> - Catégorie - </option>
                    <option value="1">Catégorie 1</option>
                    <option value="2">Catégorie 2</option>
                    <option value="3">Catégorie 3</option>
                    <option value="4">Catégorie 4</option>
                    <option value="5">Catégorie 5</option>
                </select>
            </div>

            <div class="col-sm-4 col-md-2 offset-md-0 mt-1 ml-4 ml-sm-0">
                <input class="form-control" type="text" name="city" placeholder="Ville">
            </div>

            <div class="col-sm-4 offset-sm-2 col-md-2 offset-md-0 mt-1 ml-4 ml-sm-0">
                <input class="form-control" type="text" name="zipcode" placeholder="Code postal">
            </div>

            <div class="col-sm-2 col-md-12 mt-md-4 mt-1">
                <button class="btn" type="submit" id="search_submit">Trouver un customiseur !</button>
            </div>

        </form>

    </div>

    <!--Block affichant le résultat de la recherche ajax-->
    <div class="card-deck d-flex justify-content-center mx-auto no-gutter" id="search_result">
                       
    </div>
    <!--Fin du block affichant le résultat de la recherche ajax-->

    <div class="container-fluid pb-5">
        <div class="row darkgreyzone pt-5 pb-5" id="sub_banner">
            <div class="col-12">
                <h2>La personnalisation d'objets, c'est <span class="OCO">OuiCustOm</span></h2>
                <h6>Mise en relation de particuliers à customiseurs pour personnaliser des objets</h6>
                <h5 class="pt-2"><span class="OCO">OuiCustOm </span>c'est :</h5>
            </div>
        </div>

        <div class="icones row pt-5 pb-5">
            <div class="col-sm-12 col-md-4 pt-sm-4">
                <i class="fas fas fa-search fa-5x"></i><br>
                <h2 class="pt-3 text-dark">Un service de proximité</h2>
                <div class="d-flex justify-content-center pt-2">
                    <h5 class="col-8  justify-content-center">Faite une recherche et trouvez des Customiseurs proches de chez vous...</h5>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 pt-sm-4">
                <i class="fas fa-address-card fa-5x"></i><br>
                <h2 class="pt-3 text-dark">Des Customiseurs de qualité</h2>
                <div class="d-flex justify-content-center pt-2">
                    <h5 class="col-8  justify-content-center">Découvrez nos nombreux Customiseurs et leurs univers, visitez leurs galeries, déposez vos demandes</h5>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 pt-sm-4">
                <i class="fas fa-thumbs-up fa-5x"></i><br>
                <h2 class="pt-3 text-dark">Des créations uniques</h2>
                <div class="d-flex justify-content-center pt-2">
                    <h5 class="col-8  justify-content-center"> Prenez directement contact avec le Customiseur de votre choix et donnez une seconde vie à vos objets</h5>
                </div>
            </div>
        </div>

        <div class="row darkgreyzone d-flex justify-content-center pt-3 pb-3">
            <a href="{{path('registrationPage')}}" class="btn btn-primary  text-center col-6" role="button" aria-pressed="true">Devenir membre</a>
        </div>     

        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="grid" id="gridcolor">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x200">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x300">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                </div>

            </div>

            <div class="col-6 col-md-3 offset-md-0">
                <h5 class="left">Notre selection du jour</h5>
                <div class="card mt-4" style="width: 18rem;">
                    <a class="mt-2" href="https://placeholder.com"><img src="http://via.placeholder.com/250x150"></a>
                    <div class="card-body">
                        <h5 class="card-title">Nom artiste</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush" id="list">
                        <li class="list-group-item">info1</li>
                        <li class="list-group-item">info2</li>
                        <li class="list-group-item">info3</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script>
        //Permet de supprimer la sous-bannière et de mettre le resultat de la recherche à la place sur click du boutton submit
        $('#search_submit').click(function() {

            $("#sub_banner").addClass("none");
            $("#search_result").addClass("mt-4");
            $("#search_result").addClass("mb-4");
		})

    </script>

    <script type="text/javascript">
        //Requête ajax permettant la recherche 
        $(document).ready(function(){
            $('form').submit(function(e){
                
                e.preventDefault();

                $.ajax({
                    url: '{{ path("ajaxHandle") }}',
                    type: 'post',
                    data: $(this).serialize(),
                    
                    dataType: 'json', 
                    success: function(resultJSON){
                        console.log(resultJSON);
                        $output = '';
                        if(resultJSON == null || resultJSON == '')
                        {
                            $output += '<p>Aucun artisan ne correspond à votre recherche</p>';
                        }
                        else
                        {
                            $.each(resultJSON, function (id, element) {
                                $output += '<div class="card" id="search_card" style="max-width: 200px;">' +
                                    '<img class="card-img-top" src="/uploads/profilPictures/' + element.profilPicture + '" alt="Card image cap">' +
                                    '<div class="card-body">' +
                                    '<h5 class="card-title">' + element.username + '</h5>' +
                                    '<p class="card-text text-truncate">' + element.description + '</p>' +
                                    '<a href="/default/profildetail/' + element.id + '" class="btn btn-primary">Voir profil</a>' +
                                    '</div>' +
                                    '</div>';
                            });
                        }
                        
                        $('#search_result').html($output);
                        
                    }
                });
            });
        });
    </script>

{% endblock %}