{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}



{% block body %}
    <div class="banner container-fluid pb-5">

    <h1 class="pb-5 pt-4">Faites de Vos objets du quotidien des pièces uniques</h1>



        <form class="form-row" action="" method="post">
            <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-2 mt-1 ">
                <input class="form-control" type="text" name="search" placeholder="recherche">  
            </div>

            <div class="col-sm-3 col-md-2 mt-1 ml-4 ml-sm-0" id="category_select">
                <select class="form-control" name="category">
                    <option>Catégories</option>
                    <option>Bananes</option>
                    <option>Instruments</option>
                    <option>On s'en fout</option>
                    <option>On s'en fout aussi</option>
                </select>
            </div>

            <div class="col-sm-3 col-md-2 offset-md-0 mt-1 ml-4 ml-sm-0">
                <input class="form-control" type="text" name="city" placeholder="Ville / Code postal">
            </div>
            <div class="col-sm-4 offset-sm-4 col-md-1 offset-md-0 mt-1">
                <button class="btn " type="submit">Rechercher</button>
            </div>

        </form>

    </div>

    <div class="card-deck" id="search_result">
                       
    </div>

    <div class="container-fluid pb-5">
        <div class="row darkgreyzone pt-5 pb-5">
            <div class="col-12">
                <h2>La personnalisation d'objets, c'est <span class="OCO">OuiCustOm</span></h2>
                <h6>Mise en relation de particuliers avec des artistes et des artisans de proximité pour transformer vos objets</h6>
                <h5><span class="OCO">OuiCustOm </span>c'est :</h5>
            </div>
        </div>

        <div class="icones row pt-5 pb-5">
            <div class="col-sm-12 col-md-4">
                <i class="fas fa-handshake fa-10x"></i><br>
                <p class="pt-2">Une communauté</p>
            </div>

            <div class="col-sm-12 col-md-4">
                <i class="fas fa-address-card fa-10x"></i><br>
                <p  class="pt-2">Un service de proximité</p>
            </div>

            <div class="col-sm-12 col-md-4">
                <i class="fas fa-pencil-alt fa-10x"></i><br>
                <p  class="pt-2">Des créations uniques</p>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="grid" id="gridcolor">
                    <div class="grid-sizer"></div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x200">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x300">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                    <div class="grid-item">
                        <img src="http://via.placeholder.com/350x150">
                    </div>
                </div>

            </div>

            <div class="col-6 offset-3 col-md-3 offset-md-0 offset-lg-1">
                <h5 class="left">Notre selection du jour</h5>
                <div class="card mt-4" style="width: 18rem;">
                    <a class="mt-2" href="https://placeholder.com"><img src="http://via.placeholder.com/250x150"></a>
                    <div class="card-body">
                        <h5 class="card-title">Nom artiste</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush" id="list">
                        <li class="list-group-item">info1</li>
                        <li class="list-group-item">info2</li>
                        <li class="list-group-item">info3</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('form').submit(function(e){
                
                e.preventDefault();

                $.ajax({
                    url: '{{ path("ajaxHandle") }}',
                    type: 'post',
                    data: $(this).serialize(),
                    
                    dataType: 'json', 
                    success: function(resultJSON){

                        $output = '';

                        $.each(resultJSON, function(id, element){
                           $output += '<div class="card" style="width: 10rem;">' + 
                                        '<img class="card-img-top" src="/uploads/profilPictures/' + element.profilPicture + '" alt="Card image cap">' +
                                        '<div class="card-body">' +
                                            '<h5 class="card-title">' + element.username +'</h5>' +
                                            '<p class="card-text">'+ element.description +'</p>' +
                                            '<a href="#" class="btn btn-primary">Voir profil</a>' +
                                        '</div>' +
                                        '</div>';
                                    });
                        
                        $('#search_result').html($output);
                        
                    }
                });
            });
        });
    </script>

{% endblock %}