{% extends 'base_front.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}

    <h1 class="display-4 mt-5">Messagerie</h1>

    <div class="container mx-auto mb-5 pt-4 bloc_list_contact" id="bloc_page_messaging">

        <div class="row bloc_list_contact">
        
            <div class="bloc_contact">
            
            </div>

            <div class="bloc_contact">
            
            </div>

            <div class="bloc_contact">
            
            </div>

            </div>

        </div>

    </div>

{% endblock %}
