{% extends 'base_front.html.twig' %}

{% block title %}Erreur!{% endblock %}

{% block body %}

    <h1>vous devez être econnecté en tant qu'artiste pour accéder à cette page</h1>

    <img src="{{ asset('img/getout.jpg') }}" alt="page non autorisée">

{% endblock %}