{% extends 'base_front.html.twig' %}

{% block title %}OuiCustOm : Erreur!{% endblock %}

{% block body %}

    <main id="bloc_page_error_user">

        <h1>Vous devez être connecté pour accéder à cette page</h1>

        <img src="{{ asset('img/getout.jpg') }}" alt="page non autorisée">

    </main>

{% endblock %}