@import "~bootstrap/dist/css/bootstrap.css";

body, html
{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f7f8f9;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.formRegister{
  background: url("../../public/img/brushes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.artistbanner{
  background: url("../img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  height: 100px;
}

.banner{
  background: url("../img/baner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FF8914;
  text-shadow: 2px 2px 4px #000000;
  height: 500px;
  button{
    background: #FF8914 ;
  }
}

.OCO{
  color: #FF8914;
}

.icones{
  color: #FF8914;
  p{
    color: black;
    font-size: 2em;
  }
}

.left{
  text-align: left;
}
/*--- masonery ---*/
/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


#header_front img
{
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-top: -25px;
}

#bloc_logo
{
  height: 70px;
  width: 80px;  
}

#footer_front ul
{
  list-style-type: none;
}

#footer_front h3
{
  font-size: 1.2em;
}

#copyright
{
 margin: auto;
 padding-top: 40px; 
}

.social i
{
  margin-left: 5px;
  margin-right: 5px;
}

.social i:hover
{
  color: black!important;
}

footer .col-4{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-sizer,.grid-item {
  width:calc((100% / 3) - 20px); 
  margin: 10px;

 }
////////////Menu accordéon FAQ//////////////////////////////////////////

#main_bloc_help
{
  height: auto;
  min-height: 700px;
}

.menu .accordion-heading 
{  
  position: relative; 
}

.menu .accordion-heading .edit 
{
    position: absolute;
    top: 8px;
    right: 30px; 
}

.menu .area 
{ 
  border-left: 4px solid #f38787; 
}

.area
{
  text-decoration: none;
  font-weight: bold;
  transition: 1.2s;

  :hover
  {
    text-decoration: none;
    background-color: #f38787;
    border-radius: 20px 0px 20px 0px;
    color:black;
    transition: 1.2s;
    
  }

  :focus
  {
    color: black;
    background-color: #f38787;
    transition: 1.2s;
    border-radius: 20px 0px 20px 0px;
  }
}

.menu .rubric 
{ 
  border-left: 4px solid #65c465;
}

.rubric
{
  text-decoration: none;
  transition: 1.2s;

  :hover
  {
    text-decoration: none;
    color: black;
    background-color: #65c465;
    border-radius: 20px 0px 20px 0px;
    transition: 1.2s;
  }

  :focus
  {
    transition: 1.2s;
    background-color: #65c465;
    color: black;
    border-radius: 20px 0px 20px 0px;
  }
}

.menu .rubric_text 
{ 
  border-left: 4px solid #98b3fa; 
}

.menu .collapse.in 
{ 
  overflow: visible; 
}

.accordion
{
  margin-bottom:20px;
}

.accordion-group
{
  margin-bottom:2px;border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
}

.accordion-heading
{
  border-bottom:0;
  padding: 15px;
}

.accordion-heading .accordion-toggle
{
  display:block;padding:8px 15px;
}

.accordion-toggle
{
  cursor:pointer;
}

.accordion-inner
{
  padding:9px 15px;border-top:1px solid #e5e5e5;
}

.accordion-inner ul
{
  text-align: left;
  list-style: none;
}

.accordion-inner p
{
  text-align: justify;
}

////////////Fin du menu accordéon FAQ//////////////////////////////////////////

////////////Formulaire de contact//////////////////////////////////////////

#bloc_page_contact
{
  width: 35%;
  min-width: 400px;
}

#form__message
{
  height: 250px;
}

#form__author, #form__email, #form__object
{
  max-width: 250px;
  margin: auto;
}

////////////Fin du formulaire de contact//////////////////////////////////////////