@import "~bootstrap/dist/css/bootstrap.css";

body, html
{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f7f8f9;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.banner{
  background: url("../img/backgroun1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FF8914;
  text-shadow: 2px 2px 4px #000000;
  button{
    background: #FF8914 ;
  }
}

.OCO{
  color: #FF8914;
}

.icones{
  color: #FF8914;
  p{
    color: black;
    font-size: 2em;
  }
}

.left{
  text-align: left;
}
/*--- masonery ---*/
/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.bloc_page
{
   height: calc(100vh + 501px;);
}

#header_front img
{
  height: 120px;
  width: 120px;
  overflow: hidden;
  margin-top: -25px;
}

#bloc_logo
{
  height: 70px;
  width: 80px;  
}

#footer_front
{
  height: 155px;
}

#footer_front ul
{
  list-style-type: none;
}

#footer_front h3
{
  font-size: 1.2em;
}

#site_mapping
{
  width: 180px;
  float: left;
}

#copyright
{
 margin: auto;
 padding-top: 40px; 
}

.social
{
  float: right;
  margin-top: -40px;
}

.social i
{
  margin-left: 5px;
  margin-right: 5px;
}

.social i:hover
{
  color: black!important;
}
