{% extends 'base_front.html.twig' %}


{% block title %}gallerie{% endblock %}

{% block body %}

    <h1>Galerie</h1>
    
    {% for i in images %}

            <img src="{{ asset('uploads/gallery/' ~ i.link ) | imagine_filter('my_thumb') }}" alt="image de la galerie" class=" col-3 mb-3 mt-3">
            
       
    {% endfor %}
{% endblock %}
