{% extends 'base_front.html.twig' %}


{% block title %}gallerie{% endblock %}

{% block body %}

    <h1>gallerie</h1>
    
    {% for i in images %}
        
            <img src="{{ asset('uploads/gallery/' ~ i.link )}}" alt="photo d'utilisateur" class="card-img-top mb-2">
            
       
    {% endfor %}
{% endblock %}
