<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
            <!-- Bootstrap core CSS -->
<<<<<<< HEAD
            <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
=======
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
>>>>>>> 99021a9c4ecc823a5a9cb1ff69f19b1ac47e1214
            
        {% endblock %}

    </head>
    <body>
        {% block body %}
            <main class="bloc_page">

            </main>
        {% endblock %}
            <!-- HEADER FRONT -->
            <header class="container-fluid p-0" id="header_front">

                <!-- navbar -->
                <nav class="navbar navbar-expand-lg bg-primary">
                    <!-- logo -->
                    <a class="navbar-brand text-white" href="#">LOGO</a>
                    <!-- Burger-menu -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars white" style="font-size:1.4em; color:White"></i></span>
                    </button>

                    <!-- Nav-links -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link text-white text-center" id="nav-link-index" href="index.php">Accueil</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white text-center" id="nav-link-login" href="#">Connexion</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white text-center" id="nav-link-contact" href="#">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white text-center" id="nav-link-help" href="#">Aide</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>

            <!--FOOTER FRONT-->
            <footer class="card-footer text-muted bg-secondary" id="footer_front">
                <p class=" text-white">Webforce3 © <?php echo date('Y')?> </p>
            </footer>

        {% block javascripts %}

            <!-- Bootstrap core JavaScript -->
            <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}
        
    </body>
</html>
