{% extends 'base_front.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

    <h1>Cette page n'existe pas</h1>
    <a href="https://imgflip.com/i/2bmuc1"><img src="https://i.imgflip.com/2bmuc1.jpg" title="made at imgflip.com"/></a>

{% endblock %}S